*

!/.gitignore
!/LICENSE
!/README.md



!/Cargo.lock
!/Cargo.toml

!/src/
!/src/main.rs
!/src/album.rs
!/src/cli.rs
!/src/config.rs
!/src/filesystem.rs
!/src/library.rs
!/src/manifest.rs
!/src/paths.rs
!/src/release.rs
!/src/run.rs
!/src/result.rs
!/src/templates.rs
!/src/tracklist.rs

!/src/templates/
!/src/templates/LICENSE
!/src/templates/album.toml
!/src/templates/config.toml
!/src/templates/library.toml
!/src/templates/mapping.toml
!/src/templates/release.toml
