*

!/.gitignore
!/LICENSE
!/README.md



!/Cargo.lock
!/Cargo.toml

!/src/
!/src/main.rs
!/src/album.rs
!/src/cli.rs
!/src/config.rs
!/src/filesystem.rs
!/src/library.rs
!/src/manifest.rs
!/src/paths.rs
!/src/release.rs
!/src/run.rs
!/src/result.rs
!/src/tracklist.rs
